* {
	font-size: 100%;
	font-family: "Courier New", monospace;
}

h1 {
	font-size: 200%;
}

#p3 {
	color: yellow;
}

#h2 {
	font-size: 100%;
	text-transform: uppercase;
}

.li1 {
	background-color: lightgreen;
}

.li2 {
	border-width: 1px;
	border-style: solid;
	border-color: lightblue;
}

h5 {
	font-size: 100%;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

section + ul {
	list-style: none;
}

ul > li {
	letter-spacing: 5px;
}

ul ~ p {
	text-align: center;
}